body{
    background-color: rgb(55, 255, 245);
}
h1{
    text-align: center;
    font-family: cursive;
    color: magenta;
}
h4{
    text-align: center;
    font-family: cursive;
    color: midnightblue;
}
img{
    width: 700px;
    height:500px;
    margin-left: 270px;
}