body {
    background-color: rgb(182, 240, 255);
}
h1 {
    text-align: center;
    color: crimson;
}
p {
    color: #8b008b;
    text-align: center;
}
.cool {
    width: 200px;
    height: 200px;
    margin-left: 450px;
}
