table{
    border-color: rgb(220, 20, 20);
    background-color:rgb(255, 218, 252);
    text-align:center;
    margin-left:5px;
    font-family: cursive;
}
th{
    margin-right:2px;
    border-radius: 2px;
    color:teal;
    font-family: cursive;
}
td{
    padding-right:20px;
    background-color: white;
}
body{
    background-color: rgb(252, 229, 252);
}
h1{
    color: rgb(32, 97, 238);
    text-align: center;
    font-family: cursive;
}
h4{
    color: rgb(235, 16, 16);
    text-align: center;
    font-family:cursive;
}
img{
    width:250px;
    height:150px;
}
button{
    margin-top:11px;
    width: 330px;
    height: 50px;
    border-color: rgb(28, 196, 92);
    background-color: rgb(28, 196, 92);
    color: white;
    border-top: rgb(28, 196, 92);
    border-bottom: white;
    border-left: rgb(28, 196, 92);
    border-right: rgb(28, 196, 92);
    font-size: 30px;
    font-family: cursive;
    margin-left:500px;
}
button:hover{
    background-color: white;
color: rgb(28, 196, 92);
}