body{
    background-color: rgb(255, 203, 107);
}
h1{
    text-align: center;
    color: rgb(218, 83, 218);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    text-align: center;
    color: royalblue;
    font-family: cursive;
}
button{
    
        margin-top: 11px;
        width: 330px;
        height: 50px;
        border-color: rgb(28, 196, 92);
        background-color: rgb(28, 196, 92);
        color: white;
        border-top: rgb(28, 196, 92);
        border-bottom: white;
        border-left: rgb(28, 196, 92);
        border-right: rgb(28, 196, 92);
        font-size: 30px;
        font-family: cursive;
        font-size: 25px;
        margin-left: 74px;
    }
    button:hover{
        background-color: white;
    color: rgb(28, 196, 92);
    }
    img{
        width: 279px;
        height: 300px;
        margin-top:100px;
        margin-left:120px;
    }