body{
    background-color:rgb(28, 196, 92);
}
h1{
    color: green;
    border-color: white;
    text-align: center;
    font-size: 100px;
}
#abc{
    margin-top: 0px;
    width: 50px;
    height: 50px;
}
div{
    margin-left:600px;
    background-color: rgb(124, 199, 153);
    width:60px;
    height: 90px;
}
#cool{
    width:300px;
    height:300px;
    margin-left:500px
}
button{
    margin-top:11px;
    width: 330px;
    height: 50px;
    background-color: hotpink;
    color: white;
    border-top: hotpink;
    border-bottom: white;
    border-left: hotpink;
    border-right: hotpink;
    font-size: 30px;
    font-family: cursive;
    margin-left:500px;
}
button:hover{
    background-color: white;
color: hotpink;
}

